CONFIG_IDF_TARGET="esp32p4"
CONFIG_COMPILER_OPTIMIZATION_PERF=y

CONFIG_FREERTOS_HZ=1000
CONFIG_FREERTOS_TIMER_TASK_STACK_DEPTH=4096

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_CODEC_I2C_BACKWARD_COMPATIBLE=n

# SPIRAM for ESP32-P4
CONFIG_SPIRAM=y
CONFIG_SPIRAM_SPEED_200M=y
CONFIG_IDF_EXPERIMENTAL_FEATURES=y
