CONFIG_IDF_TARGET="esp32s2"

#
# Serial flasher config
#
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
# end of Serial flasher config

CONFIG_ESP32S2_SPIRAM_SUPPORT=y
CONFIG_SPIFFS_PAGE_SIZE=1024

#
# Partition Table
#
# CONFIG_PARTITION_TABLE_SINGLE_APP is not set
# CONFIG_PARTITION_TABLE_TWO_OTA is not set
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_PARTITION_TABLE_MD5=y
# end of Partition Table

#
# LVGL configuration
#
CONFIG_LV_HOR_RES_MAX=320
CONFIG_LV_VER_RES_MAX=240
CONFIG_LV_COLOR_16_SWAP=y
CONFIG_LV_USE_PERF_MONITOR=y
# end of LVGL configuration

#
# LVGL TFT Display controller
#
CONFIG_LV_TFT_DISPLAY_USER_CONTROLLER_ST7789=y
CONFIG_DISPLAY_ORIENTATION_PORTRAIT_INVERTED=y
CONFIG_LV_DISP_BACKLIGHT_OFF=y

#
# Display Pin Assignments
#
CONFIG_LV_DISP_SPI_MOSI=9
CONFIG_LV_DISP_SPI_CLK=15
CONFIG_LV_DISPLAY_USE_SPI_CS=y
CONFIG_LV_DISP_SPI_CS=11
CONFIG_LV_DISPLAY_USE_DC=y
CONFIG_LV_DISP_PIN_DC=13
CONFIG_LV_DISP_PIN_RST=16
# end of Display Pin Assignments
# end of LVGL TFT Display controller
