menu "Board Support Package"
    menu "Display"
        config BSP_DISPLAY_LVGL_TASK_PRIORITY
            int "LVGL task priority"
            default 2
            help
                The Board Support Package will create a task that will periodically handle LVGL operation in lv_timer_handler().

        config BSP_DISPLAY_LVGL_TICK
        int "LVGL tick period"
        default 5
        range 1 100
        help
            Period of LVGL tick timer.

    endmenu
endmenu
