menu "ESP LVGL PORT"

    config LVGL_PORT_ENABLE_PPA
        depends on SOC_PPA_SUPPORTED
        bool "Enable PPA for screen rotation"
        default n
        help
            Enables using PPA for screen rotation.

    config LVGL_PORT_INTERNAL_TASK
        depends on SOC_PPA_SUPPORTED
        bool "Use an internal task for LVGL management"
        default y
        help
            If true, creates an internal task to handle LVGL management. If false the developer is responsible for initializing the stack and calling functions like `lv_timer_handle` and `lv_tick_inc`.

endmenu
