menu "Example Configuration"
    config EXAMPLE_AVOID_BLUE_SCREEN
        bool "Avoid blue screen caused for PSRAM bandwidth"
        default y
        help
            Enable this option, DMA2D peak will be limted, then GDMA will run normal.
endmenu
